@import "../../node_modules/materialize-css/sass/materialize.scss";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}
html,
#app,
.NicoryApp {
  width: 100%;
  height: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.tar {
  text-align: right;
}

$main: #a4508b;
$secondary: #5f0a87;


